<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8">
        <title>Create A Basketball Team</title>
 </head>
 <body>
   <h1 style="text-align: left">Create A Basketball Team! </h1>

    <form method="POST" action="/team">
 		<label for "teamname">Team Name: </label>
 		<input type="text" name="name" value="Bballers"> <br>
 		<label for "teamname">Coach: </label>
 		<input type="text" name="coach" value="coach"> <br>
 		<label for "pointguard">Point Guard: </label>
 		<input type="text" name="pg" value="pointguard"> <br>
 		<label for "shootingguard">Shooting Guard: </label>
 		<input type="text" name="sg" value="shootingguard"> <br>
 		<label for "smallforward">Small Forward: </label>
 		<input type="text" name="sf" value="smallforward"> <br>
 		<label for "powerforward">Power Forward: </label>
 		<input type="text" name="pf" value="powerforward"> <br>
 		<label for "center">Center: </label>
 		<input type="text" name="c" value="center"> <br>
 		<input type="submit" value="submit">
 	</form>
=======
  <title>Basketball Team Signup</title>
 </head>
 <body>

<!-- >>>>>>> master -->

 </body>
</html>
